.header {
    display: flex;
  justify-content: space-between;
  padding: 16px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 14px;
}
img {
    max-width: 50%;
    display: block;
  }
  
  .media {
    border: 2px dotted rgb(96 139 168);
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
  }
  
  .media .content .heading{
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
