.body {
    font-family: Roboto;
}

.hero, .footer{
    background-color: #1f2937;
}
.header {
    display: flex;
  justify-content: space-between;
  padding: 16px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 14px;
}
img {
    max-width: 50%;
    display: block;
  }
  
  .media {
    border: 2px dotted rgb(96 139 168);
    display: flex;
    align-items: space-between;
    
  }

  .heading {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
  }
  
  .media .content .heading{
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  


.section-two{
    display: flex;
    flex-direction: row;
}

.block{
    border: 2px solid blue;
    padding: 100px;
   
}

.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}