@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: Roboto;
}

.hero, .footer{
    background-color: #1f2937;
}
.hero{
  
  border: 2px solid blue;
}
.header {
    display: flex;
    align-items: center;
  justify-content: space-between;
  padding: 16px;
  color: #F9FAF8;
  margin-left: 55px;
}

.image{
  display: flex;
  width: 500px;
  height: 200px;
}

.logo{
  font-weight: bold;
}

  
  .media {
    padding: 60px;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    
  }

.content{
  display: flex;
  flex-wrap: wrap;
  
  width: 500px;
  height: 200px;
  font-size: 18px;
  color: #E5E7Eb;
}

.subheading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.section-two {
  border: 2px solid blue;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  padding: 30px;
}

.blue-blocks{
  height: 70px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
}

.block{
    border: 2px solid blue;
    width: 100px;
  height: 100px;
   
}

.block-words {
  height: 70px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  
}

.words{
    width: 100px;
  height: 100px;
}

.section-four {
  border: 2px solid blue;
}

.footer{
    
    bottom: 0;
    left: 0;
    right: 0;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 20px;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 14px;
    list-style-type: none;
}
a {
  text-decoration: none;
}
img {
    max-width: 50%;
    display: block;
    border: 2px solid blue;
  }

button:hover {
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #3882f6;
}